* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgoldenrod;
    font-family: 'Work Sans', sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 1rem;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    color: brown;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

p {
    color: black;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#input-area {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}

#input-area input,
#input-area select {
    font-family: 'Work Sans', sans-serif;
    flex: 1;
    padding: 8px;
    font-size: 10px;
    border: 2px solid red;
    border-radius: 6px;
    min-width: 120px;
}

#filter-area {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

#filter-area label { /* status & category */
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#filter-area select {
    padding: 6px;
    border: 1px solid red;
    border-radius: 6px;
    font-size: 0.8rem;
}

#addTaskButton {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.85rem;
    background: lightgreen;
    color: black;
    padding: 8px 16px;
    border: 1px solid darkgreen;
    border-radius: 6px;
    cursor: pointer; /* displays hand cursor */
} 

/* Task List */

#taskList {
    list-style: none;
    padding: 0;
}

.task-item { /* also <ul> style */
    display: flex;
    flex-direction: column;
    background: beige;
    gap: 6px;
    padding: 12px;
    border: 1px solid sienna;
    border-radius: 6px;
    margin-bottom: 10px;
}

.task-item .task-name { /* task name title */
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    font-weight: bold;
    font-size: 1rem;
}

.task-item .task-meta {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.85rem;
    color: gray;
    cursor: pointer; /* displays hand cursor */
}

.task-item .task-actions {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
}

.status-badge {
    font-family: 'Work Sans', sans-serif;
    padding: 3px 10px;
    border-radius:12px;
    border: 1px solid black;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.status-inprogress {
    background-color: slateblue;
}

.status-completed {
    background-color: green;
}

.status-overdue {
    background-color: crimson;
}

.task-item .delete-btn {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.85rem;
    background: crimson;
    margin-left: auto;
    padding: 8px 16px;
    color: white;
    border: 1px solid sienna;
    border-radius: 6px;
    cursor: pointer; /* displays hand cursor */
} 

.task-item .delete-btn:hover {
    background: darkred;
}