* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgoldenrod;
    font-family: 'Work Sans', sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 1rem;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    color: brown;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

p {
    color: black;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* ul {
    font-family: 'Work Sans', sans-serif;
    color: yellowgreen;
    background-color: rgb(66, 6, 6);
    border-radius: 6px;
} */

#input-area {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}

#input-area input,
#input-area select {
    font-family: 'Work Sans', sans-serif;
    flex: 1;
    padding: 8px;
    font-size: 10px;
    border: 2px solid red;
    border-radius: 6px;
    min-width: 120px;
}

#filter-area {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

#filter-area label { /* status & category */
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#filter-area select {
    padding: 6px;
    border: 1px solid red;
    border-radius: 6px;
    font-size: 0.8rem;
}

button {
    padding: 8px 16px;
    background: gray;
    color: white;
    border: solid green;
    border-radius: 6px;
    cursor: pointer; /* displays hand cursor */
}

button:hover {
    background: green;
}

/* Task List */

#taskList {
    list-style: none;
    padding: 0;
}

.task-item { /* also <ul> style */
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background: beige;
    color: darkblue;
    gap: 6px;
    padding: 12px;
    border: 1px solid red;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer; /* Hand pointer when hovering */
}

.task-item.done span {
    text-decoration: line-through;
    color: red;
}

.task-item button {
    margin-left: auto;
    background: green;
    padding: 4px 10px;
    font-size: .85rem;
}